.spinner{
    color: green;
    position: absolute;
    font-size: 18em;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.E404{
  position: absolute;
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message404{
    font-size: 5em;
}
.homeMessage{
    margin-top: 2%;
}
.btnHome{
    border:none;
    padding: 0.4em;
    border-radius: 0.4em;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    background-color: green;
}